input[type="number"] {
  width: 3em;
}
body {
	background-image: url("backgrounds/watercolorback.jpg");

  background-color: #E7FBFF;
  background-repeat: no-repeat;
  background-position:center center;
  background-size: cover;
  background-attachment: fixed;

}
h1 {
	font-family: Helvetica;
	color: #000000;
	font-weight: 200;
	text-align: center;
}
p {
	font-family: Helvetica;
	font-weight: 100;
	color: #000000;
	text-align: center;

}

.column {
  float: left;
  width: 31.33%;
  height:100%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: white;
  border-radius:25px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.box_header {
  text-align: center;
}

.list_element {
  float: left;
  width: 92%;
  height:100%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 4%;
  margin-right: 4%;
  border: 0.3vh solid black;
  border-radius:10px;
}


.add_button {
  float: left;
  width:10%;
  padding-top: 10%;
  position: relative;
  margin-top: 4%;
  margin-left: 37%;
  margin-right: 1%;
  border: 0.3vh solid grey;
  border-radius:10px;
}
.sub_button {
  float: right;
  width:10%;
  padding-top: 10%;
  position: relative;
  margin-top: 4%;
  margin-right: 37%;
  margin-left: 1%;
  border: 0.3vh solid grey;
  border-radius:10px;
}


.list {
    list-style: none;
    padding-left: 0px;
}​
